/*Main styles*/

html, body {
	width:100%;
	height:100%;
	margin: 0px;
  background: lightgray;
	
}


button	{
	text-align: center;
	font-size:20px;
	padding: 15px 35px;
	border: 2px solid #e7e7e7;
	border-radius: 3px;

}


footer {
  text-align:center;
  position:fixed;
  bottom:25px;
  width:80%;
  left: 10%;
  background: gray;
}

/*ID specific*/

#pName {
  background: lightgray;
  color: black;
  outline: none;
  border:none;
  border-bottom: 2px ridge black;
  text-align: center;
}

#pName:focus {
  outline: none;
}

#attack {
	color:red;
}
#attack:hover {
	background-color:gray;
}

#defend {
	color:gray;
}
#defend:hover {
	background-color:gray;
}

#startButton {
	border:none;
	background:transparent;
	left:-50%;
	transform:translate(50%);
}

#startButton:hover {
	background-color: darkgray;
}

.mainScreen {
	display: none;
}

.startScreen {
	display: block;
}

.battleScreen {
  display: none;
}

#playerIdleInfo {
  display: block;
  text-align: center;
}

/*Class specific*/

.playerCreation input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.playerCreation input:active+.char {
  opacity: .9;
}

.playerCreation input:checked+.char {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.playerCreation {
  position:absolute;
  left:50%;
  top:40%;
  transform:translate(-50%,-40%);
}

.char {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width:100px;
  height: 300px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.char:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}



/*Pictures*/

.war {
  background-image: url(https://place-hold.it/100x300&text=warrior);
}

.rang {
  background-image: url(https://place-hold.it/100x300&text=ranger);
}

.mage {
  background-image: url(https://place-hold.it/100x300&text=mage);
}

#enemyPic {
  position:absolute;
  right:40%;
  top:15%;
  transform:translate(40%,-15%);
}

#playerPic {
  position:absolute;
  left:40%;
  top:60%;
  transform:translate(-40%,-60%);
}